<html>
<div class="container">
  <h2>Course</h2>

  <div ng-controller="CourseController as courseCtrl">
    <label>Search: <input ng-model="searchText"></label><br><br>
      <ul ng-repeat="list in courseCtrl.lists | filter:searchText" id="searchTextChange">

            <div collapse-toggler class="toggler" ng-click="course_info = courseCtrl.getEachCourse(list.id)">
              {{list.id}} {{list.name.en}}
            </div>

          <div class="collapse">
              {{course_info.name.en}}
              {{course_info.name.th}}
          </div>
      </ul>
  </div>

</div>


  <!-- <div class="container"> -->
    <!-- <nav class="nav-sidebar">
  		<ul class="sidebar">
            <li class="sidebar-brand"><a href="">KU</a></li>
            <li class="active"><a href="#tab1" data-toggle="tab">Enrollment</a></li>
            <li class=""><a href="#tab2" data-toggle="tab">testt</a></li>
            <li class=""><a href="#tab3" data-toggle="tab">AAAA</a></li>
  		</ul>
  	</nav> -->

  <!-- tab content -->
    <!-- <div class="tab-content">
      <div class="tab-pane active text-style" id="tab1">
        <h2>Course</h2>
        <div ng-controller="CourseController as courseList">
          <label>Search: <input ng-model="searchText"></label><br><br>
            <ul ng-repeat="list in lists | filter:searchText" id="searchTextChange">
              <a ng-click="">{{list.id}} {{list.name.en}}</a>
            </ul>
        </div>
      </div> -->

      <!-- <div class="tab-pane text-style" id="tab2">
        <h2>testtt</h2>
      </div>

      <div class="tab-pane text-style" id="tab3">
        <h2>aaaa</h2>
      </div>
    </div>
  </div> -->



</html>
