<div ng-controller="LoginController as loginCtrl">
  <div id="login-style">
    <div class="container-big">
    	<div class="container-header">
    		<h1>Login</h1>
    	</div>
    	<div id="loginContainer" class="container-login">
    		<input id="login" type="text" placeholder="Student ID 56xxxxxxxx"></input>
    		<input id="key" type="password" placeholder="Any password">
        
    	</div>
    	<div class="container-signin">
    		<button class="signin" id="go" ui-sref="enroll"></button>
    	</div>
    </div>
  </div>
</div>
